.editorWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.controls {
  display: flex;
  max-width: 100%;
  height: 50px;
  line-height: 50px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.controlWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  scrollbar-width: thin;
}

.controlWrapper:-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.editor {
  width: 100%;
  height: 500px;
  cursor: text;
  outline: none;
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 1.3rem;
}

.editor a {
  text-decoration: none;
}

.editor a:hover {
  text-decoration: underline;
}

.controlBtn {
  margin-right: 20px;
  background: transparent;
  font-size: 1.5rem;
  fill: #6d6d6d;
  border: 0;
  padding: 0 10px 0 10px;
  cursor: pointer;
  border-bottom: 1px solid #cccccc;
}

.controlBtn:hover {
  fill: #333333;
}

.controlBtn svg {
  padding: 0;
  pointer-events: none;
}

.controlBtn:hover {
  border-bottom: 1px solid orange;
}

.activeBtn {
  font-weight: bold;
  border-bottom: 1px solid orange;
  fill: lightskyblue;
}

@media only screen and (max-width: 800px) {
  .controlBtn {
    font-size: 1rem;
    float: left;
  }

  .controls {
    width: 120%;
    display: flex;
  }
}
