.AZContainer {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  user-select: none;
}

.hyperLink a, .colloHyperLink {
  text-decoration: none;
  font-weight: 400;
  color: #137a99;
  font-size: 1.5rem;
  border-right: 1px solid #cccccc;
  padding: 0 15px 0px 15px;
  margin: 15px 0 15px 0;
  display: inline-block;
}

.colloHyperLink a {
  color: rgb(30, 87, 56);
}

.hyperLink a:hover {
  text-decoration: underline;
  color: rgb(106, 122, 136);
}

.active {
  color: rgb(40, 45, 54) !important;
  font-weight: bold !important;
}
