.timestamp {
  position: absolute;
  right: 50px;
  bottom: 0;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: #535353;
  padding: 20px 0 0px 0;
  display: inline-block;
}
.wordContainer {
  width: 100%;
  padding: 20px;
  display: inline-block;
  position: relative;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.name {
  font-size: 2rem;
  color: rgb(27, 80, 116);
  font-weight: bold;
}

.play {
  width: 25px;
  fill: rgb(26, 102, 153);
  cursor: pointer;
  margin-left: 20px;
}

.play:hover {
  fill: rgb(63, 128, 172);
}

.play:active {
  opacity: 0.8;
}

.wordHeader {
}

.description {
  font-size: 1.5rem;
  width: 100%;
  box-sizing: border-box;
}

.descriptionContainer {
  padding: 20px 0px 20px 0;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.type {
  font-weight: 600;
  margin-left: 10px;
}

.saveWordContainer {
  float: right;
  position: relative;
}
