.msgContainer {
  z-index: 9999;
  position: absolute;
  left: -76px;
  top: 50px;
  width: 160px;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(112, 112, 112, 1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(112, 112, 112, 1);
  box-shadow: 0px 0px 14px 0px rgba(112, 112, 112, 1);
}

.headerText {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 5px;
  display: inline-block;
}

.msgContainer:before {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -10px;
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
}

.loginButton {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  width: 98%;
  padding: 10px;
  cursor: pointer;
  background: rgb(240, 240, 240);
  background: linear-gradient(
    180deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-weight: bold;
  color: #333333;
}

.loginButton:active {
  opacity: 0.7;
}

.loginButton:hover {
  border: 1px solid #b2c8e3;
}

.msgContainer a {
  color: #111111;
}

@media only screen and (max-width: 800px) {
}
