.vocabWordsContainer,
.colloStyle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.wordName a {
  background-color: #f5f5f5;
  color: rgb(30, 58, 77);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  font-size: 1.5rem;
}

.wordName a:hover {
  color: #137a99;
}

.wordName {
  list-style: none;
  word-wrap: break-word;
}

.type_1 {
  color: #3d3f3f;
  border-radius: 5px;
  padding: 2px;
  user-select: none;
}

.colloStyle a {
  background-color: #f5f5f5;
  color: rgb(60, 179, 113);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  font-size: 1.5rem;
}

.colloStyle a:hover {
  color: #329913;
}
